form {
  border: 2px solid pink;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 20px;
  font-weight: 500;
}

.input {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 20px;
  padding: 5px;
  width: 100px;
  border: 2px solid yellow;
  border-radius: 3px;
  background-color: mediumaquamarine;
  opacity: 0.8;
  font-weight: 600;
}
.button:active {
  box-shadow: 0 5px gainsboro;
}

.button:hover,
.button:focus {
  opacity: 1;
  color: azure;
  font-weight: 600;
}
