.list {
  width: 550px;
  padding-left: 0;
}

.element {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.delete {
  margin-left: 25px;
  width: 100px;
  background-color: lightblue;
  opacity: 0.8;
}
.delete:active {
  box-shadow: 0 2px lightgoldenrodyellow;
}

.delete:hover,
.delete:focus {
  opacity: 1;
  color: lightgreen;
  font-weight: 700;
  transform: scale(1.1);
}
